.formulario_grupo-correcto{
	background-color: rgb(196, 252, 112);
}

.formulario_grupo-incorrecto{
	background-color:rgb(201, 157, 157);
}

.formulario_input-error{
	display: none;
}

.formulario_input-error-activo{
	display: block;
}

*{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}


.center{
	background-color: whitesmoke;
	margin-top: 30px;
	border-style: outset;
	border-radius: 5px;
	height: fit-content;
	width: 700px;
	display: flex;
	flex-direction: column;
	
}

.formout1{
	margin-top: 15px;
	height: fit-content;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.cont1{
	margin: 10px;
	height: 400px;
}

.cont1:first-child{
	height: 100px;
	width: 200px;
}
.cont1:last-child{
	border-style: inset;
	padding: 2px;
	width: 400px;
	height:fit-content;
}


.formout2{
	margin-bottom: 15px;
	height: fit-content;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap-reverse;
}

.cont2{
	margin: 10px;
	height: 400px;
}

.cont2:first-child{
	border-style: inset;
	padding: 2px;
	display: flex;
	flex-direction: column;
	height: 230px;
	width: 200px;
}
.cont2:last-child{
	border-style: inset;
	padding: 2px;
	height: 230px;
	width: 400px;
}

.formin{
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.lain{
	display: flex;
	gap: 10px;
}

label{
	flex: 1;
	font-size: 13px;
}

input{
	border: 2px solid #cccccc;
	flex: 2;
}

select{
	flex: 2;
}

@media (max-width:695px) {

	.formout2{
		margin-bottom: 15px;
		height: fit-content;
		width: 100%;
		display: flex;
		flex-wrap: wrap-reverse;
	}

    .cont2:first-child{
		height: fit-content;
		width: 400px;
	}
	.cont2:last-child{
		height: fit-content;
		width: 400px;
	}

}






